fqdn==1.5.1
html5rdf==1.2.1
isoduration==20.11.0
jsonpointer==3.0.0
jupyter==1.1.1
kglab==0.6.6
pip-chill==1.0.3
pycorese==0.2.0
ruamel.yaml==0.18.10
s3fs==2025.3.2
sparqlwrapper==2.0.0
tinycss2==1.4.0
uri-template==1.3.0
webcolors==24.11.1
